<div ng-show="visible">
    <div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, .5);">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h5 class="modal-title">{{ formTitle }}</h5>
                    </div>
                </div>
    
                <div class="modal-body container">
                    <div class="form-group">
                        <label for="duration">Duration (seconds):</label>
                        <input id="duration" class="form-control" ng-model="durationSeconds" type="text" placeholder="{{state.server.name}}"></input>
                    </div>

                    <div ng-if="state.channelReport == null"  class="form-group">
                        <label for="channel">Redirect to channel:</label>
                        <select id="channel" class="form-control" ng-model="program.channel"
                        ng-options="o.id as o.description for o in options" ></select>
                        <div class="loader" ng-if="loading"></div>
                    </div>

                </div>


                <div class="modal-footer">
                    <span class="text-danger">{{ error }}</span>
                    <button type="button" class="btn btn-sm btn-link" ng-click="onCancel()" >Cancel</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="onDone()" >Save</button>
                </div>
            </div>
        </div>
    </div>
</div>