<div>
    <div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, .5);">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Channel Editor
                    </h5>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="pull-right text-danger">{{error.number}}</span>
                        <label id="channelNumber" class="small">Ch. #</label>
                        <input for="channelNumber" class="form-control form-control-sm" type="number" ng-model="channel.number" />
                    </div>
                    <div>
                        <span class="pull-right text-danger">{{error.name}}</span>
                        <label id="channelName" class="small">Channel Name</label>
                        <input for="channelName" class="form-control form-control-sm" type="text" ng-model="channel.name" />
                    </div>
                    <div>
                        <span class="pull-right text-danger">{{error.icon}}</span>
                        <label for="channelIcon" class="small">Channel Icon</label>
                        <div class="input-group mb-1">
                            <input name="channelIcon" id="channelIcon" class="form-control form-control-sm" type="url" ng-model="channel.icon" />
                            <div class="input-group-append">
                                <div class="input-group-text" style="padding: 0">
                                    <label class="small" for="overlayIcon" style="margin-bottom: 4px;">&nbsp;overlay over stream&nbsp;&nbsp;</label>
                                    <input id="overlayIcon" type="checkbox" ng-model="channel.overlayIcon">&nbsp;
                                </div>
                            </div>
                        </div>
                        <div>
                            <h6>Channel Icon Preview</h6>
                            <img ng-if="channel.icon !== ''" ng-src="{{channel.icon}}" alt="{{channel.name}}" style="max-height: 120px;"/>
                            <span ng-if="channel.icon === ''">{{channel.name}}</span>
                        </div>
                        <div ng-show="channel.overlayIcon">
                            <h6>Icon Overlay Options
                                <small>Not applicable to commercials.</small>
                            </h6>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="channelIconPosition" class="small">Overlay Position</label>
                                    <div class="input-group mb-1">
                                        <select class="form-control form-control-sm" id="channelIconPosition" ng-model="channel.iconPosition">
                                            <option value="0">Top Left</option>
                                            <option value="1">Top Right</option>
                                            <option value="2">Bottom Left</option>
                                            <option value="3">Bottom Right</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="channelIconWidth" class="small">Overlay Width (pixels)</label>
                                <div class="input-group mb-1">
                                    <input id="channelIconWidth" class="form-control form-control-sm" type="number" ng-model="channel.iconWidth"/>
                                </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="channelIconDuration" class="small">Overlay Duration (seconds) (0 = permanent)</label>
                                    <div class="input-group mb-1">
                                        <input id="channelIconDuration" class="form-control form-control-sm" type="number" ng-model="channel.iconDuration" />
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div>
                        <span class="pull-right text-danger">{{error.startTime}}</span>
                        <label id="channelStartTime" class="small">Channel Timeline Start {{maxDate}}</label>
                        <input for="channelStartTime" class="form-control form-control-sm" type="datetime-local" ng-model="channel.startTime" />
                    </div>
                    <p class="text-center text-info small" ng-show='showRotatedNote' >The channel is already live, the program schedule has been rotated so that the currently-playing program is at the top of the list.</p>

                    <hr />
                    <div>
                        <h6>Programming</h6>

                            <div class="flex-container">

                                <div class='programming-counter'>
                                    <span class="small"><b>Programs:</b> {{channel.programs.length}}</span>
                                </div>
                                <div class='programming-counter' ng-show='hasFlex'>
                                    <span class="small"><b>Filler:</b> {{channel.fillerContent.length}}</span>
                                </div>
                                <div class='programming-counter' ng-show='hasFlex'>
                                    <span class="small"><b>Fallback:</b> {{describeFallback()}}</span>
                                </div>
                                <div class='flex-pull-right' />
                                <div>
                                    <button class="btn btn-sm btn-secondary btn-programming-tools"
                                    ng-click="showShuffleOptions = !showShuffleOptions"
                                    ng-show="channel.programs.length !== 0">
                                    <span
                                    class="fa {{ showShuffleOptions ? 'fa-chevron-down' : 'fa-chevron-right'}}"></span>&nbsp;&nbsp;Tools
                                    </button>
                                </div>

                                <div style='margin-left:0'>
                                    <span class="text-danger small">{{error.programs}}</span>
                                    <button class="btn btn-sm btn-primary" ng-click="displayPlexLibrary = true">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </div>
                        
                        <div ng-init="blockCount = 1; showShuffleOptions = false" ng-show="showShuffleOptions">
                            <p class="text-center text-info small">
                                Tools to modify the schedule.
                                <a href ng-click="showHelp= !showHelp">
                                    {{ showHelp ? "Hide Help" : "Show Help" }}
                                </a>
                            </p>
                            <div ng-show='showHelp' style='margin-left: 10px' class="small">
                                <h6>Block Shuffle</h6>
                                <p>Alternates TV shows in blocks of episodes. You can pick the number of episodes per show in each block and if the order of shows in each block should be randomized. Movies are moved to the bottom.</p>

                                <h6>Random Shuffle</h6>
                                <p>Completely randomizes the order of programs.</p>

                                <h6>Cyclic Shuffle</h6>
                                <p>Like Random Shuffle, but tries to preserve the sequence of episodes for each TV shows. If a TV show has multiple instances of its episodes, they are also cycled appropriately.</p>

                                <h6>Sort TV Shows</h6>
                                <p>Sorts the list by TV Show and the episodes in each TV show by their season/episode number.
                                    Movies are moved to the bottom of the schedule.
                                </p>

                                <h6>Sort Release Dates</h6>
                                <p>Sorts everything by its release date. This will only work correctly if the release dates in Plex are correct. In case any item does not have a release date specified, it will be moved to the bottom.</p>

                                <h6>Balance Shows</h6>
                                <p>Attempts to make the total amount of time each TV show appears in the programming as balanced as possible. This works by adding multiple copies of TV shows that have too little total time and by possibly removing duplicated episodes from TV shows that have too much total time. Note that in many situations it would be impossible to achieve perfect balance because channel duration is not infinite. Movies/Clips are treated as a single TV show. Note that this will most likely result in a larger channel and that having large channels makes some UI operations slower.</p>

                                <h6>Tweak Weights</h6>
                                <p>Similar to Balance TV Shows, but this allows you to pick the weights for each of the shows, so you can decide that some shows should be less frequent than other shows. It has similar caveats as &quot;Balance Shows&quot;.</p>

                                <h6>Add Flex</h6>
                                <p>Adds a &quot;Flex&quot; Time Slot. Can be configured to play a fallback screen and/or random &quot;filler&quot; content (e.g &quot;commercials&quot;, trailers, prerolls, countdowns, music videos, channel bumpers, etc.). Short Flex periods are hidden from the TV guide and are displayed as extensions to the previous program. Long Flex periods appear as the channel name in the TV guide.</p>

                                <h6>Pad Times</h6>
                                <p>Adds Flex breaks after each TV episode or movie to ensure that the program starts at one of the allowed minute marks. For example, you can use this to ensure that all your programs start at either XX:00 times or XX:30 times. Removes any existing Flex periods before adding the new ones.</p>

                                <h6>Restrict Hours</h6>
                                <p>The channel's regular programming between the specified hours. Flex time will fill up the remaining hours.</p>

                                <h6>Add Breaks</h6>
                                <p>Adds Flex breaks between programs, attempting to avoid groups of consecutive programs that exceed the specified number of minutes.</p>

                                <h6>Remove Duplicates</h6>
                                <p>Removes repeated videos.</p>

                                <h6>Remove Flex</h6>
                                <p>Removes any Flex periods from the schedule.</p>

                                <h6>Remove All</h6>
                                <p>Wipes out the schedule so that you can start over.</p>


                            </div>

                            <div class="row">
                                <div class="col-md-6" style="padding: 5px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <input type="number" class="form-control form-control-sm" placeholder="Desired number of consecutive TV shows." min="1" max="10" ng-model="blockCount">
                                        </div>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="padding: 0;">
                                                <label class="small" for="randomizeBlockShuffle" style="margin-bottom: 4px;">&nbsp;Randomize&nbsp;&nbsp;</label>
                                                <input id="randomizeBlockShuffle" type="checkbox" ng-model="randomizeBlockShuffle">&nbsp;
                                            </div>
                                        </div>
                                        <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="blockShuffle(blockCount, randomizeBlockShuffle)">Block Shuffle</button>
                                    </div>
                                </div>
                                <div class="input-group col-md-3" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="randomShuffle()">Random Shuffle</button>
                                </div>
                                <div class="input-group col-md-3" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="cyclicShuffle()">Cyclic Shuffle</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="sortShows()">Sort TV Shows</button>
                                </div>
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="sortByDate()">Sort Release Dates</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="equalizeShows()">Balance Shows</button>
                                </div>
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="startFrequencyTweak()">Tweak Weights...</button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="addOffline()">Add Flex</button>
                                </div>

                                <div class="col-md-6" style="padding: 5px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select ng-model="nightStart"
                                            ng-options="o.id as o.description for o in nightStartHours" />
                                            <select ng-model="nightEnd"
                                            ng-options="o.id as o.description for o in nightEndHours" />
                                        </div>
                                        <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="nightChannel(nightStart, nightEnd)" ng-disabled="nightStart==-1 || nightEnd==-1">Restrict Hours</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="padding: 5px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select ng-model="paddingOption"
                                            ng-options="o as o.description for o in paddingOptions" />

                                        </div>
                                        <button ng-disabled="paddingOption.id==-1" class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="padTimes(paddingOption.id, paddingOption.allow5)">Pad Times</button>
                                    </div>
                                </div>

                                <div class="col-md-6" style="padding: 5px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select ng-model="breakAfter"
                                            ng-options="o.id as o.description for o in breakAfterOptions" />
                                            <select ng-model="minBreakSize"
                                            ng-options="o.id as o.description for o in minBreakSizeOptions" />
                                            <select ng-model="maxBreakSize"
                                            ng-options="o.id as o.description for o in maxBreakSizeOptions" />
                                        </div>
                                        <button class="btn btn-sm btn-warning form-control form-control-sm" type="button" ng-click="addBreaks(breakAfter, minBreakSize, maxBreakSize)" ng-disabled="breakAfter==-1 || minBreakSize==-1 || maxBreakSize==-1 || (minBreakSize > maxBreakSize)">Add Breaks</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-group col-md-3" style="padding: 5px;">
                                    <button class="btn btn-sm btn-danger form-control form-control-sm" type="button" ng-click="removeDuplicates()">Remove Duplicates</button>
                                </div>
                                <div class="input-group col-md-3" style="padding: 5px;">
                                    <button class="btn btn-sm btn-danger form-control form-control-sm" type="button" ng-click="removeOffline()">Remove Flex</button>
                                </div>
                                <div class="input-group col-md-6" style="padding: 5px;">
                                    <button class="btn btn-sm btn-danger form-control form-control-sm" type="button" ng-click="wipeSchedule()">Remove All</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="channel.programs.length === 0">
                            <div class="small">Add programs to this channel by selecting media from your Plex library</div>
                            <br/>
                            <h5 class="text-center text-danger">No programs are currently scheduled
                                <button class="btn btn-sm btn-secondary" style="margin-left: 10px" type="button" ng-click="addOffline()">Schedule Flex Time
                                </button>
                            </h6>

                        </div>
                        <div class="list-group list-group-root">
                            <div ng-show="channel.programs.length &gt; 100">
                                <div>Showing programs {{minProgramIndex+1}} to {{minProgramIndex+100}}</div>
                            </div>
                            <input ng-show="channel.programs.length &gt; 100"  type="range" ng-model="minProgramIndex" min="0" max="{{ channel.programs.length - 100 }}" />
                            <div ng-if="minProgramIndex &gt; 0" class="list-group-item flex-container" >
                                <div class="program-start">
                                    {{ dateForGuide(channel.startTime) }}
                                </div>

                                <div style="margin-right: 5px; font-weight:ligther; text-align:center">
                                    &#8942;
                                </div>
                            </div>
                            <div ng-if="minProgramIndex &lt;= $index &amp;&amp; $index &lt; minProgramIndex+100" ng-repeat="x in channel.programs" ng-click="selectProgram($index)" dnd-list="" dnd-drop="dropFunction(index , $index, item)"
                            >
                              <div class="list-group-item flex-container program-row" dnd-draggable="x" dnd-moved="channel.programs.splice($index, 1);" dnd-effect-allowed="move"
                              >
                                
                                <div class="program-start">
                                    {{ dateForGuide(x.start) }}
                                </div>
                                <div ng-style="programSquareStyle(x)" />

                                <div style="margin-right: 5px;"  ng-hidden="x.isOffline">
                                    {{ x.type === 'episode' ? x.showTitle + ' - S' + x.season.toString().padStart(2, '0') + 'E' + x.episode.toString().padStart(2, '0') : x.title}}
                                </div>
                                <div style="margin-right: 5px; font-weight:ligther"  ng-show="x.isOffline">
                                    <i>Flex</i>
                                </div>
                                <span class="flex-pull-right btn fa fa-trash" ng-click="removeItem($index);  $event.stopPropagation()"></span>
                              </div>
                            </div>
                            <div ng-if="minProgramIndex &lt; channel.programs.length - 100" class="list-group-item flex-container" >
                                <div class="program-start">
                                    {{ dateForGuide(channel.programs[minProgramIndex + 100 - 1].stop)}}
                                </div>

                                <div style="margin-right: 5px; font-weight:ligther; text-align:center">
                                    &#8942;
                                </div>
                            </div>
                            <div class="list-group-item flex-container" ng-if="channel.programs.length &gt; 0" >
                                <div class="program-start">
                                    {{ dateForGuide(channel.programs[channel.programs.length-1].stop)}}
                                </div>

                                <div style="margin-right: 5px; font-weight:ligther; text-align:center">
                                    <i>(Restart programming from beginning)</i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button class="btn btn-sm btn-link" ng-click="_onDone()">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" ng-click="_onDone(channel)">
                            {{ isNewChannel ? 'Add Channel' : 'Update Channel' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <program-config program="_selectedProgram" on-done="finshedProgramEdit"></program-config>
    <offline-config offline-title="Modify Flex Time" program="_selectedOffline" on-done="finishedOfflineEdit"></offline-config>
    <frequency-tweak programs="_programFrequencies" message="_frequencyMessage" modified="_frequencyModified" on-done="tweakFrequencies"></frequency-tweak>
    <offline-config offline-title="Add Flex Time" program="_addingOffline" on-done="finishedAddingOffline"></offline-config>
    <plex-library height="300" visible="displayPlexLibrary" on-finish="importPrograms"></plex-library>
</div>
