<div ng-show="program">
    <div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, .5);">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div>
                    <div class="modal-header">
                        <h5 class="modal-title">{{title}}</h5>
                    </div>
                </div>
    
                <div class="modal-body container">
                    <label>Duration (Seconds): <span class="text-danger pull-right">{{error.duration}}</span></label>
                    <input type="number" class="form-control form-control-sm" ng-model="program.durationSeconds" ng-pattern="/^([1-9][0-9]*)$/"/>



                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-link" ng-click="program = null">Cancel</button>
                    <button type="button" class="btn btn-sm btn-primary"   ng-click="finished(program);">Done</button>
                </div>
            </div>
        </div>
    </div>

</div>