<div>
    <h5>Plex Settings</h5>
<h6>Plex Servers
    <button class="pull-right btn btn-sm btn-success" style="margin-bottom:10px;" ng-disabled="isProcessing" ng-click="addPlexServer()">
        Sign In/Add Servers
    </button>
</h6>
<div ng-if="isProcessing">
    <br>
    <h6>
        <span class="pull-right text-info">{{ isProcessing ? 'You have 2 minutes to sign into your Plex Account.' : ''}}</span>
    </h6>
    <br>
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Refresh Guide</th>
        <th>Refresh Channels</th>
        <th></th>
    </tr>
    <tr ng-if="servers.length === 0">
        <td colspan="5">
            <p class="text-center text-danger">Add a Plex Server</p>
        </td>
    </tr>
    <tr ng-repeat="x in servers">
        <td>{{ x.name }}</td>
        <td>{{ x.uri }}</td>
        <td>{{ x.arGuide }}</td>
        <td>{{ x.arChannels }}</td>
        <td>
            <button class="btn btn-sm btn-danger" ng-click="deletePlexServer(x._id)">
                <span class="fa fa-minus"></span>
            </button>
        </td>
    </tr>
    <tr ng-if="servers.length !== 0">
        <td colspan="5">
            <p class="text-center text-danger">Edit server values in plex-servers.json</p>
        </td>
    </tr>
</table>

<hr>
<h6>Plex Transcoder Settings

    <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
        Update
    </button>
    <button class="pull-right btn btn-sm btn-info" ng-click="resetSettings(settings)">
        Reset Options
    </button>
</h6>
<hr>
<div class="row" >
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Video Options</h6>
        <div class="form-group">
            <label>Supported Video Formats</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.videoCodecs" ria-describedby="videoCodecsHelp"/>
        </div>
        <div class="form-group">
            <label>Max Playable Resolution</label>
            <select ng-model="settings.maxPlayableResolution" 
                ng-options="o.id as o.description for o in resolutionOptions" />
        </div>
        <div class="form-group">
            <label>Max Transcode Resolution</label>
            <select ng-model="settings.maxTranscodeResolution" 
                ng-options="o.id as o.description for o in resolutionOptions "/>
        </div>
    </div>
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Audio Options</h6>
        <div class="form-group">
            <label>Supported Audio Formats</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.audioCodecs" />
        </div>
        <div class="form-group">
            <label>Maximum Audio Channels</label>
            <select ng-model="settings.maxAudioChannels" 
                ng-options="o.id as o.description for o in maxAudioChannelsOptions" ria-describedby="maxAudioChannelsHelp"/>
            <small id="maxAudioChannelsHelp" class="form-text text-muted">Note: 7.1 audio and on some clients, 6.1, is known to cause playback issues.</small>
        </div>
        <div class="form-group">
            <label>Audio Boost</label>
            <select ng-model="settings.audioBoost" 
                ng-options="o.id as o.description for o in audioBoostOptions" ria-describedby="audioBoostHelp"/>
            <small id="audioBoostHelp" class="form-text text-muted">Note: Only applies when downmixing to stereo.</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Miscellaneous Options</h6>
        <div class="form-group">
            <label>Max Direct Stream Bitrate</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.directStreamBitrate" />
        </div>
        <div class="form-group">
            <label>Max Transcode Bitrate</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.transcodeBitrate" />
        </div>
        <div class="form-group">
            <label>Direct Stream Media Buffer Size</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.mediaBufferSize" />
        </div>
        <div class="form-group">
            <label>Transcode Media Buffer Size</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.transcodeMediaBufferSize" />
        </div>
        <div class="form-group">
            <input id="updatePlayStatus" type="checkbox" ng-model="settings.updatePlayStatus" ria-describedby="updatePlayStatusHelp"/>
            <label for="updatePlayStatus">Send play status to Plex when possible</label>
            <small id="updatePlayStatusHelp" class="form-text text-muted">Note: This affects the "on deck" for your plex account.</small>
        </div>
        <div class="form-group">
            <label>Stream Protocol</label>
            <select ng-model="settings.streamProtocol" 
                ng-options="o.id as o.description for o in streamProtocols" />
        </div>
    </div>
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Subtitle Options</h6>
        <div class="form-group">
            <label>Subtitle Size</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.subtitleSize" />
        </div>
        <div class="form-group">
            <input id="enableSubtitles" type="checkbox" ng-model="settings.enableSubtitles"/>
            <label for="enableSubtitles">Enable Subtitles (Requires Transcoding)</label>
        </div>
    </div>
</div>

</div>
