<div>
    <h5>Plex Settings</h5>
<h6 ng-init="visible = false">Plex Servers
    <button ng-hide="visible" class="pull-right btn btn-sm btn-primary" ng-click="toggleVisiblity()">
        <span class="fa fa-plus"></span>
    </button>
</h6>
<div ng-if="visible">
    <form>
    <h6>Add a Plex Server
        <span class="pull-right text-danger">{{error}}</span>
        <span class="pull-right text-info">{{ isProcessing ? 'You have 2 minutes to sign into your Plex Account.' : ''}}</span>
    </h6>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <select class="form-control form-control-sm" ng-model="plex.protocol">
                <option value="http">http</option>
                <option value="https">https</option>
            </select>
        </div>
        <div class="form-group col-sm-5">
            <input class="form-control form-control-sm" type="text" ng-model="plex.host" ng-disabled="isProcessing" placeholder="Use network address. Do NOT use 127.0.0.1 or localhost)"/>
        </div>
        <div class="form-group col-sm-5">
            <input class="form-control form-control-sm" type="text" ng-model="plex.port" ng-disabled="isProcessing" placeholder="Plex port"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <div class="form-control form-control-sm">
                <input id="arGuide" type="checkbox" ng-model="plex.arGuide" ng-disabled="isProcessing">
                <label for="arGuide">Auto Refresh Guide</label>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <div class="form-control form-control-sm">
                <input id="arChannels" type="checkbox" ng-model="plex.arChannels" ng-disabled="isProcessing">
                <label for="arChannels">Auto Map Channels</label>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <span class="pull-right">
                <button class="btn btn-sm btn-link" type="button" ng-click="toggleVisiblity()" ng-disabled="isProcessing">Cancel</button>
                <input class="btn btn-sm btn-success" type="submit" ng-click="addPlexServer(plex)" ng-disabled="isProcessing" value="Sign In/Add Server"/>
            </span>
        </div>
    </div>
    </form>
    <p class="text-danger text-center">
        <b>WARNING - Do not check "Auto Map Channels" unless the PseudoTV tuner is added to this specific Plex server.</b>
    </p>
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Refresh Guide</th>
        <th>Refresh Channels</th>
        <th></th>
    </tr>
    <tr ng-if="servers.length === 0">
        <td colspan="5">
            <p class="text-center text-danger">Add a Plex Server</p>
        </td>
    </tr>
    <tr ng-repeat="x in servers">
        <td>{{ x.name }}</td>
        <td>{{ x.protocol }}://{{ x.host }}:{{ x.port }}</td>
        <td>{{ x.arGuide }}</td>
        <td>{{ x.arChannels }}</td>
        <td>
            <button class="btn btn-sm btn-danger" ng-click="deletePlexServer(x._id)">
                <span class="fa fa-minus"></span>
            </button>
        </td>
    </tr>
</table>

<hr>
<h6>Plex Transcoder Settings

    <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
        Update
    </button>
    <button class="pull-right btn btn-sm btn-info" ng-click="resetSettings(settings)">
        Reset Options
    </button>
</h6>
<hr>
<div class="row" >
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Video Options</h6>
        <div class="form-group">
            <label>Max Playable Resolution</label>
            <select ng-model="settings.maxPlayableResolution" 
                ng-options="o.id as o.description for o in resolutionOptions" />
        </div>
        <div class="form-group">
            <label>Max Transcode Resolution</label>
            <select ng-model="settings.maxTranscodeResolution" 
                ng-options="o.id as o.description for o in resolutionOptions "/>
        </div>
        <div class="form-group">
            <input id="enableHEVC" type="checkbox" ng-model="settings.enableHEVC"/>
            <label for="enableHEVC">Enable H265</label>
        </div>
    </div>
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Audio Options</h6>
        <div class="form-group">
            <label>Supported Audio Formats</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.audioCodecs" />
        </div>
        <div class="form-group">
            <label>Maximum Audio Channels</label>
            <select ng-model="settings.maxAudioChannels" 
                ng-options="o.id as o.description for o in maxAudioChannelsOptions" ria-describedby="maxAudioChannelsHelp"/>
            <small id="maxAudioChannelsHelp" class="form-text text-muted">Note: 7.1 audio and on some clients, 6.1, is known to cause playback issues.</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Miscellaneous Options</h6>
        <div class="form-group">
            <label>Max Direct Stream Bitrate</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.directStreamBitrate" />
        </div>
        <div class="form-group">
            <label>Max Transcode Bitrate</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.transcodeBitrate" />
        </div>
        <div class="form-group">
            <input id="updatePlayStatus" type="checkbox" ng-model="settings.updatePlayStatus" ria-describedby="updatePlayStatusHelp"/>
            <label for="updatePlayStatus">Send play status to Plex</label>
            <small id="updatePlayStatusHelp" class="form-text text-muted">Note: This affects the "on deck" for your plex account.</small>
        </div>
    </div>
    <div class="col-sm-6">
        <h6 style="font-weight: bold">Subtitle Options</h6>
        <div class="form-group">
            <label>Subtitle Size</label>
            <input type="text" class="form-control form-control-sm" ng-model="settings.subtitleSize" />
        </div>
        <div class="form-group">
            <input id="enableSubtitles" type="checkbox" ng-model="settings.enableSubtitles"/>
            <label for="enableSubtitles">Enable Subtitles (Requires Transcoding)</label>
        </div>
    </div>
</div>

</div>
