<div style='position: fixed; top: 30px; right: 30px; width:400px; z-index: 1000000;'>

    <div
        ng-repeat="toast in toasts track by $index"
        class="dizque-toast"
        ng-class="toast.clazz"
        ng-click="destroy($index)"
    >
        <div
             class="flex-container"
        >
            <div>
                <strong>{{ toast.title }}</strong>
            </div>
            <div class='flex-pull-right'>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div>{{ toast.text }}</div>
    </div>
</div>
