<div>
    <h5>XMLTV Settings
        
        <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
            Update
        </button>
        <button class="pull-right btn btn-sm btn-info" ng-click="resetSettings(settings)">
            Reset Options
        </button>
    </h5>
    <h6>Output Path</h6>
    <input type="text" class="form-control form-control-sm" ng-model="settings.file" aria-describedby="pathhelp"  readonly />
    <small id="pathhelp" class="form-text text-muted">You can edit this location in file xmltv-settings.json.</small>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <label>EPG Cache (hours)</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.cache" aria-describedby="cachehelp"/>
            <small id="cachehelp" class="form-text text-muted">How many hours of programming to include in the xmltv file.</small>
        </div>
        <div class="col-sm-6">
            <label>Refresh Timer (hours)</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.refresh" aria-describedby="timerhelp"/>
            <small id="timerhelp" class="form-text text-muted">How often should the xmltv file be updated.</small>
        </div>
    </div>
    
</div>