<div>
    <h5>{{'settings_xmltv.title' | i18next}}
        
        <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
            {{'settings_xmltv.update' | i18next}}
        </button>
        <button class="pull-right btn btn-sm btn-warning" ng-click="resetSettings(settings)">
            {{'settings_xmltv.reset_options' | i18next}}
        </button>
    </h5>
    <h6>{{'settings_xmltv.output_path' | i18next}}</h6>
    <input type="text" class="form-control form-control-sm" ng-model="settings.file" aria-describedby="pathhelp"  readonly ></input>
    <small id="pathhelp" class="form-text text-muted">{{'settings_xmltv.output_path_note' | i18next}}</small>
    <br></br>
    <div class="row">
        <div class="col-sm-6">
            <label>{{'settings_xmltv.epg_hours' | i18next}}</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.cache" aria-describedby="cachehelp"></input>
            <small id="cachehelp" class="form-text text-muted">{{'settings_xmltv.epg_hours_note' | i18next}}</small>
        </div>
        <div class="col-sm-6">
            <label>{{'settings_xmltv.refresh_timer' | i18next}}</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.refresh" aria-describedby="timerhelp"></input>
            <small id="timerhelp" class="form-text text-muted">{{'settings_xmltv.refresh_timer_note' | i18next}}</small>
        </div>
    </div>
    <br ></br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="imageCache" aria-describedby="imageCacheHelp" ng-model='settings.enableImageCache'>
        <label class="form-check-label" for="stealth">{{'settings_xmltv.image_cache' | i18next}}</label>

        <div class='text-muted' id="imageCacheHelp">{{'settings_xmltv.image_cache_note' | i18next}}</div>
    </div>

    
</div>