<div>
    <h5>XMLTV Settings
        
        <button class="pull-right btn btn-sm btn-success" style="margin-left: 5px;" ng-click="updateSettings(settings)">
            Update
        </button>
        <button class="pull-right btn btn-sm btn-warning" ng-click="resetSettings(settings)">
            Reset Options
        </button>
    </h5>
    <h6>Output Path</h6>
    <input type="text" class="form-control form-control-sm" ng-model="settings.file" aria-describedby="pathhelp"  readonly ></input>
    <small id="pathhelp" class="form-text text-muted">You can edit this location in file xmltv-settings.json.</small>
    <br></br>
    <div class="row">
        <div class="col-sm-6">
            <label>EPG Hours</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.cache" aria-describedby="cachehelp"></input>
            <small id="cachehelp" class="form-text text-muted">How many hours of programming to include in the xmltv file.</small>
        </div>
        <div class="col-sm-6">
            <label>Refresh Timer (hours)</label>
            <input type="number" class="form-control form-control-sm" ng-model="settings.refresh" aria-describedby="timerhelp"></input>
            <small id="timerhelp" class="form-text text-muted">How often should the xmltv file be updated.</small>
        </div>
    </div>
    <br ></br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="imageCache" aria-describedby="imageCacheHelp" ng-model='settings.enableImageCache'>
        <label class="form-check-label" for="stealth">Image Cache</label>

        <div class='text-muted' id="imageCacheHelp">If enabled the pictures used for Movie and TV Show posters will be cached in dizqueTV's .dizqueTV folder and will be delivered by dizqueTV's server instead of requiring calls to Plex. Note that using fixed xmltv location in Plex (as opposed to url) will not work correctly in this case.</div>
    </div>

    
</div>