<div class='container'>

    <div class='row gy-15'>
    
        <div class='col'>
            <h5>
                Library
            </h5>
            
            <p>Components that will allow you to organize your media library to help with the creation of channels that do things the way you want.</p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-auto'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"><a href="#!/filler" class="card-link">Filler...</a></h5>

                <p class="card-text">Filler lists are collections of videos that you may want to play during <i>&apos;flex&apos;</i> time segments. Flex is time within a channel that does not have a program scheduled (Usually used for padding).</p>
                
                </div>
            </div>
        </div>
        <div class='col-md-auto'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><a href="#!/custom-shows" class="card-link">Custom Shows....</a></h5>
        
                  <p class="card-text">Custom Shows are sequences of videos that represent a episodes of a virtual TV show. When you add these shows to a channel, the schedule tools will treat the videos as if they belonged to a single TV show.</p>
                  
                </div>
            </div>
       
        </div>
    </div>


     
</div>