<div class='container'>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <span class="nav-link btn btn-link {{ selected === 'xmltv' ? 'active' : ''}}" ng-click="selected = 'xmltv'">
                XMLTV
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link btn btn-link {{ selected === 'ffmpeg' ? 'active' : ''}}" ng-click="selected = 'ffmpeg'">
                FFMPEG
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link btn btn-link {{ selected === 'plex' ? 'active' : ''}}" ng-click="selected = 'plex'">
                Plex
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link btn btn-link {{ selected === 'hdhr' ? 'active' : ''}}" ng-click="selected = 'hdhr'">
                HDHR
            </span>
        </li>
    </ul>
    <br ></br>
    <plex-settings ng-if="selected == 'plex'"></plex-settings>
    <ffmpeg-settings ng-if="selected == 'ffmpeg'"></ffmpeg-settings>
    <xmltv-settings ng-if="selected == 'xmltv'"></xmltv-settings>
    <hdhr-settings ng-if="selected == 'hdhr'"></hdhr-settings>
</div>