<div>

    <h5>
        Version Info
    </h5>
    <table class="table">
        <tr>
            <th width="120">Component</th>
            <th width="120">Version</th>
        </tr>
        <tr>
            <td>dizqueTV-backend</td>
            <td>{{version}}</td>
        </tr>
        <tr>
            <td>dizqueTV-ui</td>
            <td id='uiversion'>Getting dizqueTV UI version...</td>
        </tr>
        <tr>
            <td>FFMPEG</td>
            <td>{{ffmpegVersion}}</td>
        </tr>
        <!-- coming soon, ffmpeg version, nodejs version, plex version, whatever can be used to help debug things-->
    </table>

</div>