<div>

    <h5>
        Version Info
    </h5>
    <table class="table">
        <tr>
            <th width="120">Component</th>
            <th width="120">Version</th>
        </tr>
        <tr>
            <td>dizqueTV-backend</td>
            <td><div class='loader' ng-if="version.length &lt;= 0"></div>{{version}}</td>
        </tr>
        <tr>
            <td>dizqueTV-ui</td>
            <td id='uiversion'><div class='loader'></div></td>
        </tr>
        <tr>
            <td>FFMPEG</td>
            <td><div class='loader' ng-if="version.length &lt;= 0"></div>{{ffmpegVersion}}</td>
        </tr>
        <!-- coming soon, ffmpeg version, nodejs version, plex version, whatever can be used to help debug things-->
    </table>

</div>