:root {
    --guide-text :  #F0F0f0;
    --guide-header-even:  #423cd4ff;
    --guide-header-odd: #262198ff;
    --guide-color-a:  #212121;
    --guide-color-b:  #515151;
    --guide-color-c:  #313131;
    --guide-color-d: #414141;
  }
  
  .pull-right { float: right; }
  
  .modal-semi-body {
    padding: 1rem;
    flex: 1 1 auto;
  }
  
  .plex-panel {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
   }
  .flex-container {
    display: flex;
    align-items: center;
  }
  .flex-pull-right { 
    margin-left: auto;
    padding-right: 0.2em
  }
  
  
  .fa-plus-circle {
    color: #daa104;
  }
  
  .fa-plus-circle {
    color: #000;
  }
  
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .list-group.list-group-root .list-group-item img {
    height: 45px;
  }
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding: 0;
    margin: 0;
  }
  
  .list-group.list-group-root .list-group-item div .tab {
    width: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  .program-start {
    margin-right: 2.5em;
    display: inline-block;
    vertical-align: top;
    /*color: rgb(96,96,96);*/
    color: #0c5c68;
    font-size: 80%;
    font-weight: 400;
    font-family: monospace;
    white-space: nowrap;
  }
  .program-row {
    align-items: start;
  }
  .programming-counter {
    white-space: nowrap;
    margin-right: 1em;
    font-size: 80%;
  }
  .programming-counter > span {
    font-weight: 300;
  }
  .programming-counter > b {
    font-weight: 400;
  }
  .btn-programming-tools {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.0;
    margin-right: 0.5rem;
  }
  
  .loader {
    width: 1em;
    height: 1em;
    border: 0.3em solid #f3f3f3;
    border-radius: 50%;
    display: inline-block;
    border-top: 0.25em solid #3498db;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  table.tvguide {
    table-layout: fixed;
  }
  
  .tvguide th.hour {
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .tvguide .program {
    padding-left: 0.2em;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black ;*/
    overflow: hidden;
  }
  .tvguide .program-with-start {
  }
  .tvguide .program-with-end {
    /*border-right: 1px solid black;*/
  }
  .tvguide .program .show-title {
    white-space: nowrap;
    font-weight: 400;
  }
  .tvguide .program .sub-title {
    white-space: nowrap;
    font-weight: 300;
  }
  
  .tvguide button {
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  
  .tvguide th button {
    min-width: 20%;
    max-width: 24%;
  }
  
  
  .tvguide th {
    position: sticky;
    top: 0;
    bottom: 0;
    /*border-bottom: 1px solid black;*/
  }
  
  .tvguide th.guidenav {
    padding-left: 5px;
    padding-right: 0;
  }
  
  
  .tvguide td, .tvguide th {
    color: var(--guide-text);
    border-top: 0;
    height: 3.5em;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    overflow: hidden;
  }
  .tvguide th {
    height: 1.8em;
  }
  
  .tvguide td.channel-number, .tvguide td.channelLoading {
    vertical-align: middle;
    padding:0;
  }
  
  .tvguide td.channel-number div {
    text-align:center;
    width:100%;
    padding:0;
  }
  
  .tvguide td.channel-icon {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.2em;
    text-align:center;
    vertical-align: middle;
  }
  
  .tvguide td.channel-icon img {
    max-height: 95%;
    max-width:99%
  }
  
  
  .tvguide th.even {
    background: var(--guide-header-even);
  }
  
  .tvguide th.odd {
    background: var(--guide-header-odd);
  }
  
  .tvguide tr.odd td.even {
    background: var(--guide-color-a);
  }
  
  .tvguide tr.odd td.odd {
    background: var(--guide-color-b);
  }
  
  .tvguide tr.even td.odd {
    background: var(--guide-color-c);
  }
  
  .tvguide tr.even td.even {
    background: var(--guide-color-d) ;
  }
  
  .tvguide td .play-channel {
    top:25%;
    left:12.5%;
    width:75%;
    height:75%
  }
  
  .tv-guide-now {
    width:0.2em;
    height: 100%;
    position: absolute;
    background: #FFFF0040;
    top:0;
  }
  
  .stealth-channel td img {
    opacity: 0.5;
  }
  
  .flex-filler-percent {
    text-align: right;
  }
  
  .filler-list .list-group-item, .program-row, .show-list .list-group-item, .program-row {
    min-height: 1.5em;
  }
  
  .filler-list .list-group-item .title, .program-row .title, .show-list .list-group-item .title, .program-row .title {
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .show-row .program-start {
    width: 2em;
  }
  
  div.channel-tools {
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }
  div.channel-tools p {
    font-size: 0.5rem;
    margin-top: 0.01rem;
  }
  
  div.programming-panes {
    padding-top: 0;
    padding-bottom: 0;
  }
  div.programming-panes div.reverse {
    flex-direction: row-reverse;
  }
  div.programming-panes div.programming-pane {
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  div.programming-programs div.list-group-item {
    height: 1.5rem;
  }
  .channel-editor-modal-big {
    width:1200px;
    min-width: 98%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  .program-row:nth-child(odd), .show-row:nth-child(odd), .filler-row:nth-child(odd), .channel-row:nth-child(odd)  {
    background-color: #eeeeee;
  }
  
  .tools-pane button {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .tools-pane button:not(.btn-danger),
  .tools-pane .input-group-text,
  .tools-pane select {
    border: 1px solid #999999 !important;
  }
  .tools-pane input,
  .tools-pane select {
    font-size: 14px;
  }
  .tools-pane select {
    text-align: center;
    border-radius: 0;
    padding: 0 16px 0 0;
    height: initial;  
  }
  .tools-pane select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .tools-pane .input-group-prepend + button {
    border-left: 0;
  }
  .tools-pane input.form-control {
    border-color: #999999;
  }
  .watermark-preview {
    background: linear-gradient(180deg, rgb(90, 90, 90) 0%, rgb(110, 110, 110) 35%, rgb(130, 130, 130) 100%, rgb(150, 150, 150) 100%);
    border: 2px solid black;
  }
  .watermark-preview .alternate-aspect {
    background : rgba(255,255,255, 0.1);
  }
  
  .dizque-toast {
    margin-top: 0.2rem;
    padding: 0.5rem;
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    color: #FFFFFF;
  }
  
  .dizque-toast.bg-warning {
    color: black
  }
  
  .about-to-fade-in {
    opacity: 0.00;
    transition: opacity 1.00s ease-in-out;
    -moz-transition: opacity 1.00s ease-in-out;
    -webkit-transition: opacity 1.00s ease-in-out;
  }
  .fade-in {
    opacity: 0.95;
    transition: opacity 1.00s ease-in-out;
    -moz-transition: opacity 1.00s ease-in-out;
    -webkit-transition: opacity 1.00s ease-in-out;
  }
  
  .fade-out {
    transition: opacity 1.00s ease-in-out;
    -moz-transition: opacity 1.00s ease-in-out;
    -webkit-transition: opacity 1.00s ease-in-out;
    opacity: 0.0;
  }
  
  #dizquetv-logo {
    width: 1em;
    height: 1em;
    margin-bottom: 0.25em;
  }
  