name: Development Binaries

on:
  push:
    branches:
      - development

jobs:
  binaries:
    uses: ./.github/workflows/binaries-build.yaml
    with:
      release: development-binaries
    secrets: inherit
